<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Sample Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>ログイン</h1>
	<div>
    	Spring Sample Test
	</div>
	<!-- <p>Now <span th:text="${now}"></span></p> -->
	<br />
	<form method="post" action="formPost">
		<span>ID: </span>
		<input type="text" name="userid" value="" />
		<br />
		<span>Password: </span>
		<input type="text" name="password" value="" />
		<br />
		<input type="submit" value="send" />
	</form>
	<form method="post" action="user">
		<br />
		<input type="submit" value="new" />
	</form>
</body>
</html>