<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Sample Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>新規</h1>
	<div>
    	Spring Sample Test
	</div>
	<p>Create <span th:text="${now}"></span></p>
	<br />
	<form method="post" action="/result" th:object="${fromModel}">
		<span>ID: </span>
		<input type="text" name="userid" th:value="${userid}" />
		<br/>
		<span>Password: </span>
		<input type="text" name="password" th:value="${password}" />
		<br/>
		<input type="submit" value="create" />
	</form>
	
	<form method="post" action="other">
		<br />
		<input type="submit" value="cancel" />
	</form>
	<!--<table>
	  <form method="post" action="/" th:object="${fromModel}">
	<tr><td><label for="user_id">user_id</label></td>
	<td><input type="text" name="user_id" th:value="*{user_id}"/></td></tr>
	<tr><td><label for="password">password</label></td>
	<td><input type="text" name="password" th:value="*{password}"/></td></tr>
	<tr><td></td><td><input type="submit"/></td></tr>
	</form> 
	</table>-->
</body>
</html>