<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Sample Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>新規</h1>
	<div>
    	Spring Sample Test
	</div>
	<p>Create <span th:text="${now}"></span></p>
	<br />
	<form method="post" action="/result" th:object="${fromModel}">
		<span>ID: </span>
		<input type="text" id="userid" name="userid" value="" />
		<!-- <input type="text" id="userid" name="userid" value="${userid}" />  --> <!-- fail -->
		<!-- <input type="text" id="userid" name="userid" value="*{userid}" />  --> <!-- error -->
		<br/>
		<span>Password: </span>
		<input type="text" id="password" name="password" value="" />
		<br/>
		<input type="submit" value="create" />
	</form>
	
	<form method="post" action="other">
		<br />
		<input type="submit" value="cancel" />
	</form>
</body>
</html>