<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Sample Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>新規</h1>
	<div>
    	Spring Sample Test
	</div>
	<p>Create <span th:text="${now}"></span></p>
	<br />
	<form method="post" action="result">
		<span>ID: </span>
		<input type="text" name="user_id" value="" />
		<br />
		<span>Password: </span>
		<input type="text" name="password" value="" />
		<br />
		<input type="submit" value="send" />
	</form>
	
	<form method="post" action="other">
		<br />
		<input type="submit" value="cancel" />
	</form>
</body>
</html>