<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Sample Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Spring Sample</h1>
	<div>
    	Post Data
	</div>
	<br />
	<form method="post" action="formPost">
		<span>ID: </span>
		<span th:text="${userid}"></span>
		<br />
		<span>password: </span>
		<span th:text="${password}"></span>
		<br />
	</form>
	<table>
	<tr><th>ID</th><th>password</th><th>check</th></tr>
	<tr th:each="obj : ${data}">

	<td>	
		<input type="checkbox" th:value="1" th:text="${obj.userid}">
	</td>
	<td>
		<span th:text="${obj.password}"></span>
	</td>
	<td>
		<input type="button" value="完了" />
	</td>

	</table>
	
	<form method="post" action="other">
		<br />
		<input type="submit" value="logout" />
	</form>
</body>
</html>





				
						